<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtBA1x9uFeF4lcN6jrzzwY1I6KVWzi8n8</string>
	<key>GCM_SENDER_ID</key>
	<string>1045694207874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unsplashGallery</string>
	<key>PROJECT_ID</key>
	<string>gad-2023-late</string>
	<key>STORAGE_BUCKET</key>
	<string>gad-2023-late.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045694207874:ios:d509293924239774b3619b</string>
</dict>
</plist>